ip = 127.0.0.1
port = 9048
http_port = 9049 

connectTimeout = 10s

waitting = 10s

stackSize = 64kb

serverContextSize = 10000

logpath=/opt/idcreator/log
logprefix=idcreator

id-state-file=/opt/idcreator/id.sf

#unit KB MB GB
logsize=10mb

# Debug 
# Info 
# Warn 
# Error 
# Mark 
loglevel=Info

daemon = false

timeout=300

mid = 0
